/* * {
  line-height: 1.5rem;
  border: 0.5px solid red;
} */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightcyan;
}

a {
  color: darkblue;
  text-decoration: none;
}


#title {
  display: flex;
  font-family: "Skranji", cursive;
  font-weight: bold;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.3em;
  color: #146c94;
  margin: 10px 10px 0 10px;
  
  /* border: 2px solid darkblue; */
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /* border: 3px solid red; */
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;

  /* border: 2px solid black; */
}

#video-looped {
  display: flex;
  flex: 1 1 0;
  width: 500px;
  height: auto;
  margin: 0;
  border: 8px double black;
}
#credits {
  display: flex;
  /* border: 2px solid black; */
}

.bottom-container {
  display: flex;
  justify-content: space-evenly;

  /* border: 2px solid black; */
}

.recipe-container img {
  display: flex;
  width: 350px;
  height: 380px;
  object-fit: cover;

  border: 9px double #146c94; 
}

.recipe-container p{
  color: black;
  font-family: "Skranji";
  font-size: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
  padding-top: 7px;
}

.recipe-container{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

